table {
  border-collapse: collapse;
}

td {
  border: 1px solid #ddd;
  width: 6px;
  height: 6px;
}

.wall {
  background-color: #000;
}

.start {
  background-color: #f00;
}

.end {
  background-color: #0f0;
}

.path-node {
  background-color: #888;
}

.tree {
  background-color: green;
}

.man {
  background-color: #f00;
}
