* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%
}
#main, #panel {
  display: flex;
  overflow: hidden;
}

#main {
  flex-direction: column;
  height: 100%;
}

#viewport {
  flex: 1;
  overflow: hidden;
}

#viewport canvas {
position: absolute;
  top: 0;
  left: 0;
}

#info, #selection-info {
  flex: 1;
}

#panel {
  background-color: #aaa;
  z-index: 1;
}

.field {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-wrap: wrap;
}

.field div {
  width: 12px;
  height: 12px;
  min-width: 12px;
  min-height: 12px;
  line-height: 12px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

.path-node {
  background-color: #0af;
}

.empty::after {
  content: ' ';
}

.obstacle {
  background-color: #eee;
  color: #aaa;
}

.obstacle::after {
  content: '#';
}

.tree::before {
  content: 'O'
}

.tree {
  background-color: #cd5;
  color: #370;
}

.person::before {
  content: '@'
}

.menu {
  list-style-type: none;
  padding: 4px;
  user-select: none;
}

.menu li {
  float: left;
  margin: 4px;
  cursor: pointer;
}

main {
  margin: 8px;
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: auto;
  grid-column-gap: 12px;
}

.
